.footer-con {
  display: flex;
  justify-content: space-around;
  background-color: rgb(230, 241, 245);
  padding: 5%;
}
.middle-con {
  display: flex;
  gap: 3vw;
}

.middle-ind-con {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.desc-con {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.desc-title {
  font-weight: bold;
}

.footer-last {
  display: flex;
  gap: 2vw;
  padding: 3%;
  background-color: rgb(230, 241, 245);
  border-top: solid rgb(159, 157, 157) 1px;
}
