.platform-con {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.platform-title {
  font-size: 2em;
}

.comp-con {
  display: flex;
  gap: 5vw;
}

@media (max-width: 1200px) {
  .comp-con {
    flex-direction: column;
  }
}

.cloudcon {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.vcon {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.cloudtitle {
  text-align: center;
}

.vctitle {
  text-align: center;
}

.vc {
  width: 70px;
  object-fit: cover;
  height: auto;
}

@media (max-width: 680px) {
  .vc {
    width: 50px;
    height: 50px;
  }
}

.cloud-inner {
  display: flex;
  gap: 2vw;
}

.vc-inner {
  display: flex;
  gap: 2vw;
}

.build {
  width: 300px;
  object-fit: cover;
}

@media (max-width: 680px) {
  .build {
    width: 100px;
  }
}
